doctype html

html

  head

    title= title
    link(href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all")
    link(href="stylesheets/font-awesome.min.css" rel="stylesheet")
    link(href="stylesheets/landing.css" rel='stylesheet' type='text/css' media="all")

  body
    ul.slideshow
      li
      li
      li
      li
      li

    div.banner-two-img
      div.logo
        h1
          a(href="index.html") SmartZillow
    
      div.social-icons
        ul
          li
            a.facebook(href="#")
              span.fa.fa-facebook
           
          li
            a.twitter(href="#")
              span.fa.fa-twitter
          
          li
            a.rss(href="#")
              span.fa.fa-rss
         
    div.container
      div.banner-right-txt
        h4 The smartest way to find
           br
        h4 your home
        div.view-buttn.mt-lg-5.mt-md-4.mt-sm-4.mt-3
          form(method="get", action="/index", id="enter")
            a.btn(href="javascript:document:enter.submit()") Find More                                                                                                                                                           
      
    footer.bottem-wthree-footer.text-center
      p
        © 2019 Smart Zillow. All Rights Reserved | Design by
        a(href="http://www.gepeilu.com" target="_blank")  Gepei Lu
 